body{
background:#0b0f14;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

.wrap{
max-width:420px;
margin:auto;
padding:20px;
}

.marquee{
background:#111;
padding:8px;
margin-bottom:15px;
}

.profile-box img{
width:120px;
border-radius:50%;
margin:10px 0;
}

h1{
font-size:26px;
}

.subtitle{
opacity:0.7;
margin-bottom:15px;
}

.pill{
display:inline-block;
padding:14px 20px;
background:#00d0c7;
color:black;
font-weight:bold;
text-decoration:none;
border-radius:30px;
}

.pill-sub{
font-size:12px;
margin-top:4px;
}

.hurry{
color:red;
font-weight:bold;
margin:12px 0;
}

.timer{
display:flex;
justify-content:center;
gap:15px;
margin:15px 0;
}

.cell{
background:#111;
padding:12px;
border-radius:10px;
}

.num{
font-size:22px;
font-weight:bold;
}

.lab{
font-size:12px;
color:red;
margin-top:4px;
font-weight:700;
}

.features{
margin-bottom:18px;
}

.feature-item{
margin:6px 0;
font-weight:700;
color:#bbb;
}

.divider{
height:1px;
background:rgba(255,255,255,0.05);
margin:20px auto;
}

.exp h2{
font-size:20px;
}

.big{
color:#00d0c7;
font-weight:800;
}

.mini{
font-size:12px;
opacity:0.6;
letter-spacing:2px;
}
